{% extends 'base.html' %}
{% load static %}
{% block element %}

    <section class="progress_bar">

        <div class="progress1">
            <h3>₹1 Crore+</h3>
            <p>REGSITERED USERS</p>
        </div>
        <div class="progress2">
            <h3>₹5 Crore+</h3>
            <p>IN DAILY WINNINGS</p>
        </div>
    </section>
    <section id="Scenshots" class="container">
      <h2 class="h-primary">Our App Screenshots</h2>
      <p class="h-secondary">Check the screenshots below to get an idea of the app flow and the features.</p>
      <div>
          <img src="{% static 'Images/ss-01.png' %}" alt="ss1">
          <img src="{% static 'Images\ss-02.png' %}" alt="ss2">
          <img src="{% static 'Images/ss-03.png' %}" alt="ss3">
          <img src="{% static 'Images/ss-04.png' %}" alt="ss4">
          <img src="{% static 'Images/ss-05.png' %}" alt="ss5">
      </div>
  </section>

   
    <section id="Features">
        <div class="container">
            <h2 class="h-primary">Amazing Features</h2>
            <div class="all-features">
                <div id="F-Left" class="features-column">
                    <div id="F1" class="lf">
                        <div class="text">
                            <h5>EYE-CATCHING DESIGN</h5>
                            <p>Enjoy a stunning view of application and suggest others to download our app FreeKey11</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                    <div id="F2" class="lf">
                        <div class="text">
                            <h5>MATCH DOCUMENTATION</h5>
                            <p>We have covered everything about match description including details of participants.</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-file"></i>
                        </div>
                    </div>
                    <div id="F3" class="lf">
                        <div class="text">
                            <h5>PLAY WITH FRIENDS</h5>
                            <p>Register with your friends and play at the end earn money by playing fantasy Cricket.</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                </div>

                <div id="F-Middle" class="features-column">
                    <div id="F-Image" class="Image">
                        <img src="{% static 'Images/app.png' %}" alt="app.png">
                    </div>
                </div>

                <div id="F-Right" class="features-column">
                    <div id="F4" class="rf">
                        <div class="icon">
                            <i class="fa fa-play"></i>
                        </div>
                        <div class="text">
                            <h5>LIVE VIDEO STREAMING</h5>
                            <p>We provide a full match video on youtube,so players can watch highlights of the match.
                            </p>
                        </div>
                    </div>
                    <div id="F5" class="rf">
                        <div class="icon">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <div class="text">
                            <h5>REFER & EARN</h5>
                            <p>Invite your friends to play with GamersPocket and get rewarded by money.</p>
                        </div>
                    </div>
                    <div id="F6" class="rf">
                        <div class="icon">
                            <i class="fa fa-life-ring"></i>
                        </div>
                        <div class="text">
                            <h5>CUSTOMER SUPPORT</h5>
                            <p>Contact us for any queries, we try to solve your problem in appropriate way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <!-- ======= Testimonials Section ======= -->
 <section id="testimonials" class="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
          <center>
        <h2>Players Love Freekey11</h2>
    </center>
      </div>

      <div class="testimonials-slider swiper" data-aos="fade-up" >
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'Images\abhi.jpeg' %}" class="testimonial-img" alt="">
                <h3>Amarjeet Paswan</h3>
                <h4>Aurangabad, Bihar</h4>
                
                  
                  <p> Hi I am Amarjeet Paswan , <br>

                 I am extremely delighted to express my experience of lacs playing Freaky 11 <br> </p>
                
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'Images\kajal.png' %}" class="testimonial-img" alt="">
                <h3>Kajal Kumari</h3>
                <h4>Saran, Bihar</h4>
                
                  
                  <p> Hi I am Kajal Kumari , <br>
                    This application is shot gun.
                    With no time helps in earning my financial goal</p> <br>
                
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'Images\rohit.jpeg' %}" class="testimonial-img" alt="">
                <h3>Rohit Kumar</h3>
                <h4>Aurangabad Bihar</h4>
                <p>
                 
                  <p> Hi I am Rohit Kumar , <br>

    I strongly recommend to everyone to atleast use this app once as it comes with a chance of Bonanza</p> <br>
                </p>
                 
                </p>
              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img src="{% static 'Images\aashish.png' %}" class="testimonial-img" alt="">
                <h3>Aashish Diwakar </h3>
                <h4>UP, Kanpur</h4>
               
                <p>
                  
                  <p> Aashish Diwakar , <br>

                This application is worth using. I have been earning fantabulously since its use</p> <br>
                </p>

              </div>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <img  src="{% static 'Images\rajesh.png' %}" class="testimonial-img" alt="">
                <h3>Rajesh Prajapati</h3>
                <h4>UP, Aajamgadh</h4>
                  
                  <p> Rajesh Prajapati, <br>

                    This application is a boon to me. I would like to put light on my unparalleled experience of earning through Freaky 11</p> <br>

              </div>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </section><!-- End Testimonials Section -->

    <section id="Download">
        <div class="container download-section">
            <h2 class="h-primary">Download The App</h2>
            <p class="h-secondary">Go and try it yourself. It can make your living!!.</p>
            <a href="https://drive.google.com/uc?export=download&amp;id=1JUjq7qJtrOvftE6AXZ7_k65MJmH_wws5"><button
                    id="download-button"><i class="fa fa-download"></i> DOWNLOAD</button></a>
        </div>
    </section> 

    <!-- <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Thumbnail label</h3>
              <p>...</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div> -->

    <section id="faq" class="container">
        <h2 class="h-primary">FreeKey11 FAQ</h2>
        <p class="h-secondary">Freaquently Asked Questions About FreeKey11</p>

        <button class="accordion">How does fantasy sports work?</button>
        <div class="panel">
            <p>On FreeKey11, you create your fantasy team based on a real-life match to score maximum points and win
                exciting cash prizes worth Crores!</p>
        </div>

        <button class="accordion">Can I actually win money on FreeKey11?</button>
        <div class="panel">
            <p>Absolutely! Lots of players have already won big prizes on FreeKey11 and you can too. We host different
                kinds of cash contests, each with its own entry fee and prize money.
            <p>Choose a contest that you want to play, defeat the competition, and celebrate big wins!</p>
        </div>

        <button class="accordion">Is it safe to add money to FreeKey11?</button>
        <div class="panel">
            <p>Adding money to your FreeKey11 account is both simple and safe. We have many different payment options
                enabled on Dream11 and work hard to ensure that your personal details are safe with us.</p>
            <p>What's more, after you verify your personal details, you can withdraw the money that you win on Dream11
                directly to your bank account.</p>

        </div>
    </section>

    {% endblock %}
